.wrapper-SinglePost {
    .thumb-area {
        overflow: hidden;
        > img {
            width: 100%;
        }
    }
    .info-area {
        padding-top: 25px;
        .wrapper-link-info {
            margin-top: 10px;
            margin-bottom: 15px;
        }
        > h2 {
            @media (max-width: 767px) {
                font-size: 18px;
            }
            color: #2d2d2d;

            font-size: 24px;
            margin-bottom: 15px;

            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
        }
    }
}
