.wrapper-tag {
    display: flex;
    flex-wrap: wrap;
    > li {
        &:hover > a {
            background-color: var(--primary-color);
            color: #fff;
        }
        > a {
            border: 1px solid #eee;
            background: #fff;
            padding: 4px 20px;
            transition: all 0.3s ease 0s;
            color: #888;
            font-size: 13px;
        }
        margin-bottom: 8px;
        margin-right: 5px;
    }
}
