.wrapper-blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .avatar {
        --size: 90px;
        width: var(--size);
        height: var(--size);

        margin-right: 30px;
    }
    .introduce {
        flex: 1;
        @media (max-width: 575px) {
            flex: auto;
            margin-top: 20px;
        }
        .name {
            font-size: 16px;
            font-family: 'Cinzel', serif;
            color: #140c40;
            margin-top: 0;
            font-style: normal;
            font-weight: 500;
            text-transform: uppercase;
        }
        .des {
            margin-bottom: 0;
            font-size: 15px;

            line-height: 1.4;
            font-family: 'Poppins', sans-serif;
            color: #646d77;
        }
    }
}
