.area-link {
    display: flex;
    align-items: center;
    .icon {
        font-size: 11px;
        margin-right: 4px;
    }
    .bulkhead {
        margin: 0 8px;
        height: 15px;
        width: 1px;
        background-color: #ccc;
    }
    > a {
        color: #999;
        font-size: 14px;
        transition: 0.2s linear;
        &:hover {
            color: var(--primary-color);
        }
    }
}
