@import './import.scss';
@import './global-variables.scss';

// component
@import './display/display.module.scss';
@import './button/button.module.scss';
@import './effectAppear/effectAppear.module.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
    color: #140c40;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #646d77;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;
}

.mt-header {
    margin-top: var(--height-header);
}

.mt-40 {
    margin-top: 40px;
}

.max-w-1200px {
    max-width: 1200px;
    margin: auto;
}

.pt-80px {
    padding-top: 80px;
}

textarea {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    padding: 18px 4px 4px 18px;
    font-size: 13px;
    background: transparent;
    height: 100%;
    width: 100%;
    outline: none;
    margin-bottom: 30px;
}
