:root {
    --height-header: 95.5px;
    --width-primary: 1513px;
    --width-navigation: 20vw;
    --width-slider: var(--width-primary);
    --width-header: var(--width-primary);
    --max-width: 1200px;

    // button
    --primary-color-btn: #000;
    --primary-color: #9f78ff;
    --primary-color-2: #fbf9ff;
    --primary-alpha-color: #7c61c22d;
    --height-header-mobile: 50px;
}
