.button-large {
    text-transform: uppercase;

    width: 100%;
    max-width: 100%;
    border-width: 1px;

    @media (max-width: 768px) {
        padding: 10px 30px;
    }

    display: inline-block;
    padding: 18px 44px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    font-weight: 400;

    letter-spacing: 3px;

    transition: 0.3s;

    &:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
    &.type_2 {
        background-color: var(--primary-color);
        color: #fff;
    }
}
